{{!-- <article class="post-card-position">
    <div class="card post-card-size">
        <h5 class="card-header bg-success post-card-title">{{title}}</h5>
        <div class="card-body">
            <p class="card-text">{{post_content}}.</p>
        </div>
        <div class="card-body">
          <p class="card-text">posted by {{user.username}} on {{format_date createdAt}} |</p>
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
</article> --}}